<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	benh nhan
	<table>
		<tr>
			<td><%= dataTable.id %></td>
			<td><%= dataTable.phone %></td>
			<td><%= dataTable.name %></td>
			<td><%= dataTable.address %></td>
			<td><%= dataTable.email %></td>
			<td><%= dataTable.gender %></td>
		  <td>
	</table>
</body>
</html>